#sim
pyyaml
open3d

#Video-Depth-Anything
matplotlib
pillow
decord
xformers==0.0.32.post2
easydict
OpenEXR==3.3.1

#DiffSynth-Studio
imageio
imageio[ffmpeg]
safetensors
einops
sentencepiece
protobuf
modelscope
ftfy
pandas
accelerate
peft
datasets


